body {
    padding: 20px;
    margin: 0;
}

#gridContainer {
    padding: 0;
    width: 456px;
}

#gridContainer > div {
    display: block;
    float: left;
    width: 150px;
    height: 150px;
    border: solid 1px #808080;
    text-align: center;

    background-color: #ccc;
    font-family: "Segoe UI", Verdana;
}

#gridContainer > div > label {
    display: block;
    width: 149px;
    height: 149px;
}
#gridContainer > div > input {
    display: none;
}

#gridContainer > div input:checked + label{
    background-color: red;
}

